html {
	box-sizing: border-box;
	font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

html, body {
	height: 100%;
	background: $bg-color;
	overflow: hidden;
}

body > * {
	position: absolute;
}

#frame {
	@extend %absolute-fill;
	z-index: 1;
}
body.paused {
	#frame {
		border: 1px solid $window-border-color;
	}
}