#titlebar {
	-webkit-app-region: drag;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: $titlebar-height;
	line-height: $titlebar-height;
	padding: 0 20px;
	background: $titlebar-bg-color;
	color: $titlebar-color;
	> * {
		display: inline-block;
	}
	z-index: 1;
	visibility: hidden;
}

#titlebar-buttons {
	-webkit-app-region: no-drag;
	position: absolute;
	right: 0;
	height: 100%;
	> button {
		width: $titlebar-button-width;
		height: 100%;
		border: 0;
		background: transparent;
		position: relative;
		&::before {
			display: block;
			content: '';
			width: 10px;
			height: 10px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: url('/images/titlebar.svg');
			background-size: 46px 10px;
		}
		&:hover {
			background: rgba(255, 255, 255, 0.1);
		}
		&#btn-maximize::before { background-position-x: -12px; }
		&#btn-restore::before  { background-position-x: -24px; }
		&#btn-close::before    { background-position-x: -36px; }
		&#btn-close:hover      { background: #E81123; }
		&#btn-close:active     { background: #A92831; }
	}
}

body.paused {
	#titlebar {
		visibility: visible;
	}
}