html {
	box-sizing: border-box;
	font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

html, body {
	height: 100%;
	background: $bg-color;
	overflow: hidden;
}

li {
	display: inline-block;
}